{% extends 'base.html' %}

{% block content %}
{% load static %}
<h2>Learning view for {{ learn_set.name }}</h2>

{% for vocable in vocables %}
<div class="flip-card" id="flip-card-{{vocable.id}}" onclick="flip('{{vocable.id}}')">
    <div class="flip-card-inner">
        <div class="flip-card-front card-body">
            <h1>{{ vocable.value }}</h1>
        </div>
        <div class="flip-card-back card-body">
            <h1>{{ vocable.translated_value }}</h1>
        </div>
    </div>
</div>
{% endfor %}


<script>
  flip = (id) => document.querySelector("#flip-card-" + id).classList.toggle("flip-card-flipped")

</script>

{% endblock %}