{% extends 'base.html' %}

{% block content %}
{% load static %}
<div class="row">
    {% for learn_set in learn_sets %}
    <div class="col-md-4 mt-3 mb-3">
        <a href="{% url 'cards:learning_view' learn_set.id %}" class="text-decoration-none text-reset">
            <div class="card card-hover">
                <div class="card-body">
                    <h5 class="card-title">{{ learn_set.title }}</h5>
                    <p class="card-text">{{ learn_set.description }}</p>
                    {% include 'ui-components/progress.html' with progress=learn_set.progress %}
                </div>
            </div>
        </a>
    </div>
    {% empty %}
        {% include 'ui-components/alert.html' with text="You haven't created any lern sets yet. Click + to create one." %}
    {% endfor %}
    <div class="col-md-4 mt-3 mb-3">
        <div class="card card-hover">
            <div class="card-body">
                <div class="row justify-content-center">
                    <a href="#" data-toggle="modal" data-target="#createLearnSetModal">
                        {% include 'icons/plus_icon.html' %}
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% include './create_view.html' %}
</div>

{% endblock %}

{% block custom_script %}
<script>
    {% if learn_set_form or show_modal %}
        $('#createLearnSetModal').modal('show')
    {% endif %}
</script>
{% endblock%}