{% extends 'base.html' %}

{% block content %}
{% load static %}

<div class="row">
    <div class="col-sm">
        <img class="img-fluid" src="{% static '/images/wordza_logo.png'%}">
    </div>
    <div class="col-sm d-flex justify-content-center align-items-center">
        <form id="register-form" class="form" action="" method="post">
            {% csrf_token %}
            <h3 class="text-info">Please Register</h3>
            <div class="form-group">
                <label class="text-info" for="username">Create Username:</label>
                <input type="text" name="username" class="form-control" id="username">
                {% if form.errors.username %}
                    {% for error in form.errors.username %}
                    <div class="text-danger">{{ error }}</div>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="form-group">
                <label class="text-info" for="email">Email address:</label>
                <input class="form-control" id="email" type="email" name="email">
                {% if form.errors.email %}
                    {% for error in form.errors.email %}
                    <div class="text-danger">{{ error }}</div>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="form-group">
                <label for="password1" class="text-info">Create Password:</label>
                <input class="form-control" id="password1" type="password" name="password1"
                        autocomplete="new-password">
                {% if form.errors.password1 %}
                    {% for error in form.errors.password1 %}
                    <div class="text-danger">{{ error }}</div>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="form-group">
                <label for="password2" class="text-info">Password confirmation:</label>
                <input class="form-control" id="password2" type="password" name="password2"
                        autocomplete="new-password">
                {% if form.errors.password2 %}
                    {% for error in form.errors.password2 %}
                    <div class="text-danger">{{ error }}</div>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="form-group">
                <input class="btn btn-primary" type="submit" name="Create User" value="Create Account">
            </div>
            <div>Already have an account? <a href="{% url 'login' %}">Login</a></div>
        </form>
    </div>
</div>
{% endblock %}