{% extends 'base.html' %}

{% block content %}
{% if vocabularies|length == 0 %}
<div class="row">
  {% include 'ui-components/alert.html' with text="You haven't created any vocabularies yet. Go to Vocabulary and create one." %}
</div>
{% endif %}
<div class="row">
    <div class="col-md">
        <div class="card text-white bg-secondary mb-3" >
            <div class="card-body">
                <h5 class="card-title">{{ vocables|length }}</h5>
                <p class="card-text">Vocables</p>
            </div>
        </div>
    </div>
    <div class="col-md">
        <div class="card text-white bg-secondary mb-3" >
            <div class="card-body">
                <h5 class="card-title">{{ vocabularies|length }}</h5>
                <p class="card-text">Vocabularies</p>
            </div>
          </div>
    </div>
    <div class="col-md">
        <div class="card text-white bg-secondary mb-3" >
            <div class="card-body">
                <h5 class="card-title">{{ learn_sets|length }}</h5>
                <p class="card-text">Learn Sets</p>
            </div>
          </div>
    </div>
</div>

<div class="row">
    {% if vocabularies|length != 0 %}
    <div class="col-md">
        <div class="card">
            <table class="table table-hover m-0">
                <thead class="table-secondary">
                  <tr>
                    <th class="border-top-0" scope="col" colspan="2">Latest Vocables</th>
                  </tr>
                </thead>
                <tbody>
                {% for vocable in vocables|slice:"10" %}
                <tr>
                <td scope="row">{{vocable.value}}</td>
                <td scope="row">{{ vocable.translated_value}}</td>
                </tr>
                {% endfor %}
                </tbody>
              </table>
        </div>
    </div>
    <div class="col-md">
        <div class="card" >
            <table class="table table-hover m-0">
                <thead class="table-secondary">
                  <tr>
                    <th class="border-top-0" scope="col">Latest Vocabularies</th>
                  </tr>
                </thead>
                <tbody>
                {% for vocabulary in vocabularies|slice:"10" %}
                <tr>
                <td scope="row">{{vocabulary.title}}</td>
                </tr>
                {% endfor %}
                </tbody>
              </table>
        </div>
    </div>
    <div class="col-md">
        <div class="card" >
            <table class="table table-hover m-0">
                <thead class="table-secondary">
                  <tr>
                    <th class="border-top-0" scope="col" colspan="2">Latest Learn Sets</th>
                  </tr>
                </thead>
                <tbody>
                {% for learn_set in learn_sets|slice:"10" %}
                <tr>
                <td scope="row">{{learn_set.title}}</td>
                <td scope="row">  {% include 'ui-components/progress.html' with progress=learn_set.progress %}</td>
                </tr>
                {% endfor %}
                </tbody>
              </table>
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}