{% extends 'base.html' %}

{% block content %}

<h2>{{ title }}</h2>
<!-- TODO: implement dashboard template -->
<br>
<div class="container">
    <div class="row">
        <div class="col-md">
            <div class="card" style="width: 18rem;">
                <table class="table table-striped">
                    <tbody>
                    <tr>
                        <td><h3 class="text-center text-info">My Learnsets</h3></td>
                    </tr>
                    <tr align="center">
                        <th scope="row">First Learn Set</th>
                    </tr>
                    <tr align="center">
                        <th scope="row">Second Learn Set</th>
                    </tr>
                    <tr align="center">
                        <th scope="row">Third Learn Set</th>
                    </tr>
                    <tr align="center">
                        <th scope="row">... Learn Set</th>
                    </tr>
                    <tr align="center">
                        <th scope="row">... Learn Set</th>
                    </tr>
                    <tr align="center">
                        <th scope="row">... Learn Set</th>
                    </tr>
                    <tr align="center">
                        <th scope="row">... Learn Set</th>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
        <div class="col-md">
            <h3 class="text-center text-info">My Progress</h3> <br>
            <h5 class="text-center text-info">Learnset 1</h5> <br>
            <div class="progress">
                <div class="progress-bar bg-danger"  role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0"
                     aria-valuemax="100">25%
                </div>
            </div> <br>
            <h5 class="text-center text-info">Learnset 2</h5> <br>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 45%;" aria-valuenow="45" aria-valuemin="0"
                     aria-valuemax="100">45%
                </div>
            </div>
            <br>
            <h5 class="text-center text-info">Learnset 3</h5> <br>
            <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0"
                     aria-valuemax="100">80%
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

#this was here before the template above:

<ul class="list-group list-group-flush">
    {% for learn_set in learn_sets %}
    <li class="list-group-item">{{ learn_set.name }}</li>
    {% endfor %}
</ul>