{% extends 'base.html' %}

{% block content %}
<h2>{{  vocable.value }}</h2>
<ul>
    <li>{{ vocable.creation_date }}</li>
    <li>{{ vocable.language }}</li>
</ul>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'dashboard:detail_edit' vocable.id %}" method="post">
{% csrf_token %}
{% for language in languages %}
    <input type="radio" name="language" id="language_{{ forloop.counter }}" value="{{ language.id }}">
    <label for="language_{{ forloop.counter }}">{{ language.label }}</label><br>
{% endfor %}
<input type="submit" value="Save">
</form>
{% endblock %}