{% extends 'base.html' %}

{% block content %}

<style>
@import url('https://fonts.googleapis.com/css?family=Heebo:400,700|Open+Sans:400,700');


body {
  height: 100%;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
}

.card {
  display: block;
  top: 0px;
  position: relative;
  max-width: 262px;
  background-color: #F0F8FF;
  border-radius: 4px;
  padding: 32px 24px;
  margin: 12px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  border: 1px solid #f2f8f9;



</style>

<h3>Vocabularies</h3>
<br>
<br>

<div class="container-fluid">
    <div class="row justify-content-center">

        {% for vocabulary in vocabularies %}

        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">{{ vocabulary.title }}</h4>
                    <p class="card-text">{{ vocabulary.description }}</p>
                    <a href="{% url 'vocabularies:edit_view' vocabulary.id %}" class="btn btn-primary">Edit</a>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
    <div class="row justify-content-center">
        <a href="{% url 'vocabularies:create_view' %}">
            {% include 'plus_icon.html' %}
        </a>
    </div>
</div>

{% endblock %}